/.AcceptPropose.java._trace
/.AuctionTime.java._trace
/.EndAuctionMessage.java._trace
/.EnglishAuction.java._trace
/.EnglishAuction_Vocabulary.java._trace
/.NotEnoughMoney.java._trace
/.ObjectOnAuction.java._trace
/.Partecipating.java._trace
/.Propose.java._trace
/.RefusePropose.java._trace
/.StartAuction.java._trace
/.WinCost.java._trace
