module EnglishAuctionOntology

# ontology used for FIPA English Auction protocol.
ontology EnglishAuction   
    # proposition used for communicating the partecipation to an auction.
    proposition Partecipating
    # proposition used for communicating that an auction has started.
    proposition StartAuction
    # proposition used meaning the message is a propose
    proposition Propose
    # proposition used when an Auctioneer accept a propose
    proposition AcceptPropose
    # proposition used when an Auctioneer refuse a propose
    proposition RefusePropose
    
    proposition EndAuctionMessage
    
    action WinCost(
    	money as integer
    )
    
    proposition NotEnoughMoney
    # concept used to describe an object that will be sold
    #   name = name of object
    #   code = code of object
    #   required = price of object
    #   expireTime = time when auction will end
    concept ObjectOnAuction(
        name as text,
        code as integer,
        required as integer,
        winner as text,
        expireTime as timestamp
    )
    # action used to communicate about the auction
    action AuctionTime(
    	object as ObjectOnAuction
    )
    
    
    