/.Auction.java._trace
/.Auctioneer.java._trace
/.DecideAuction.java._trace
/.EndAuction.java._trace
/.TalkToWinner.java._trace
/.WaitBidders.java._trace
/.Bidder.java._trace
/.SendPresenceAuction.java._trace
/.WaitForStart.java._trace
/.WaitResponse.java._trace
